* {
font-family: sans-serif,Helvetica,Arial;
}
pre, code {
font-family: courier;
}
p {
font-size: 16px;
}
h1, h2, h3 {
color: Teal;
}
table {
border-collapse: collapse;
}
th, td {
border: 2px solid Teal;
}
th {
font-weight: bold;
text-align: center;
}
th.left {
text-align: left;
}
td.centered {
text-align: center;
}
a {
color: Teal;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
