:root {
  --primary: #2eccc1;
  --secondary: #bfbfbf;
  --accent: #cc2e3c;
  --info: hsl(242, 80%, 80%);
  --success: hsl(112, 80%, 80%);
  --warning: hsl(55, 80%, 80%);
  --error: hsl(8, 80%, 80%);
  --light: #e8e8e8;
  --dark: #666666;
}

* {
  font-family: Verdana, Geneva, sans-serif
}
body {
  margin:0;
}
main {
  max-width: 46rem;
  margin: auto;
}

.primary {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--secondary);
}
.info {
  background-color: var(--info);
}
.success {
  background-color: var(--success);
}
.warning {
  background-color: var(--warning);
}
.error {
  background-color: var(--error);
}
.light {
  background-color: var(--light);
}
.dark {
  background-color: var(--dark);
}
.accent {
  background-color: var(--accent);
}

@media screen and (min-width: 46em) {
  main {
    max-width: 46rem;
    padding: 1rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  nav {
    flex-direction: column;
  }
  nav li {
    min-width: 7rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 46em) {
  main {
    padding: 1rem 4rem;
    font-size: 1.1rem;
  }
  nav {
    flex-direction: column;
  }
  nav li {
    min-width: 5rem;
  }
}

@media screen and (max-width: 42em) {
  main {
    padding: 2rem;
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
  }
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

hr {
  height: 1px;
  padding: 0;
  margin: 1rem 0;
  background-color: var(--dark, Teal);
  border: 0;
}

table {
  display: block;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 60em) and (max-width: 76em) {
  table {
    max-width: 60rem;
    margin-left: -7rem;
    margin-right: -7rem;
    border-collapse: collapse;
  }
  .table-legend {
    margin-left: -7rem;
    max-width: 46rem;
  }
}

@media screen and (min-width: 76em) {
  table {
    max-width: 76rem;
    margin-left: -15rem;
    margin-right: -15rem;
    border-collapse: collapse;
  }
  .table-legend {
    margin-left: -15rem;
    max-width: 46rem;
  }
}

th,
td {
  border: 1px solid var(--secondary);
  padding: 1rem 0.5rem;
}

th {
  font-weight: bold;
  text-align: center;
}

th.left {
  text-align: left;
}

td.centered {
  text-align: center;
}

a {
  color: var(--primary, Teal);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.color-box {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  content: " ";
}

p code {
  /* word-break: break-all; */
  overflow-wrap: break-word;
}

table code {
  color: var(--dark);
}

code,
pre {
  font-family: Consolas, Courier, monospace;
  white-space: pre-wrap;
  color: var(--accent);
}

pre {
  padding: 0.5rem 2rem;
  color: var(--dark);
  font-size: 0.9rem;
  background-color: var(--light);
  border: 1px dotted var(--primary);
  border-radius: 5px;
  white-space: pre-wrap;
}

nav {
  display: flex;
  margin: auto;
  background: var(--light);
  font-size: 1.2rem;
  box-shadow: 0px 2px 10px var(--secondary);
  /* align-content: flex-start; */
  justify-content: flex-start;
}

nav ul {
  margin: 0;
  display: inherit;
  background: var(--light);
  list-style: none;
  padding-left: 0;
  width: 100%;
}

nav li {
  color: var(--dark);
  background: var(--light);
  flex-grow: 1;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  display: inherit;
  text-align: left;
}

nav a {
  color: var(--dark);
  text-decoration: none;
  flex-grow: 1;
}


nav a:hover,
nav a:focus-within,
nav li:hover,
nav li:focus-within {
  background: var(--primary);
  cursor: pointer;
  color: var(--light);
  text-decoration: none;
}

nav a li:focus-within {
  outline: none;
}

nav ul li ul {
  visibility: hidden;
  margin-bottom:20px;
  opacity: 0;
  min-width: 7rem;
  position: absolute;
  margin-top: calc(20px + 1rem);
  left: 0;
  display: none;
}

nav ul  a:hover > ul,
nav ul a:focus-within > ul,
nav ul a ul:hover,
nav ul a ul:focus,
nav ul  li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus
 {
  visibility: visible;
  opacity: 1;
  display: block;
}
nav ul li ul a {
  display: block;
}
nav a.main-nav {
  flex-grow: 2;
  font-weight: bold;
}

nav a.main-nav li {
  background-color: var(--primary);
  color: white;
}