name: build

on:
  push:
    branches:
      - '*'

jobs:
  ubuntu-20-04:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - name: Install-prerequisites
      run: sudo ./scripts/InstallPrerequisites-Ubuntu.sh
    - name: Build-ubuntu-20.04
      run: |
        lsb_release -a
        mkdir shasta-build
        cd shasta-build 
        cmake .. -DBUILD_NATIVE=OFF -DBUILD_ID="Shasta unreleased test build newer than release 0.4.0 at commit "$GITHUB_SHA
        # cmake .. -DBUILD_NATIVE=OFF -DBUILD_ID="Shasta Release 0.4.0" 
        make -j 2 all
        make install/strip
        mv shasta-install shasta-Ubuntu-20.04
        tar -cvf shasta-Ubuntu-20.04.tar shasta-Ubuntu-20.04        
    - name: Test-ubuntu-20.04
      run: |
        sudo apt install gzip
        gunzip tests/TinyTest.fasta.gz
        shasta-build/shasta-Ubuntu-20.04/bin/shasta --Align.alignMethod 3 --input tests/TinyTest.fasta
        ls -l ShastaRun/Assembly.fasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-Linux
        path: shasta-build/shasta-Ubuntu-20.04/bin/shasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-Ubuntu-20.04.tar
        path: shasta-build/shasta-Ubuntu-20.04.tar


  ubuntu-18-04:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: Install-prerequisites
      run: sudo ./scripts/InstallPrerequisites-Ubuntu.sh
    - name: Build-ubuntu-18.04
      run: |
        lsb_release -a
        mkdir shasta-build
        cd shasta-build 
        cmake .. -DBUILD_ID="Shasta unreleased test build newer than release 0.4.0 at commit "$GITHUB_SHA
        # cmake .. -DBUILD_ID="Shasta Release 0.4.0" 
        make -j 2 all
        make install/strip
        mv shasta-install shasta-Ubuntu-18.04
        tar -cvf shasta-Ubuntu-18.04.tar shasta-Ubuntu-18.04        
    - name: Test-ubuntu-18.04
      run: |
        sudo apt install gzip
        gunzip tests/TinyTest.fasta.gz
        shasta-build/shasta-Ubuntu-18.04/bin/shasta --Align.alignMethod 3 --input tests/TinyTest.fasta
        ls -l ShastaRun/Assembly.fasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-Ubuntu-18.04.tar
        path: shasta-build/shasta-Ubuntu-18.04.tar



  ubuntu-16-04:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@master
    - name: Install-prerequisites
      run: sudo ./scripts/InstallPrerequisites-Ubuntu.sh
    - name: Build-ubuntu-16.04
      run: |
        lsb_release -a
        mkdir shasta-build
        cd shasta-build 
        cmake .. -DBUILD_ID="Shasta unreleased test build newer than release 0.4.0 at commit "$GITHUB_SHA
        # cmake .. -DBUILD_ID="Shasta Release 0.4.0"
        make -j 2 all
        make install/strip
        mv shasta-install shasta-Ubuntu-16.04
        tar -cvf shasta-Ubuntu-16.04.tar shasta-Ubuntu-16.04        
    - name: Test-ubuntu-16.04
      run: |
        sudo apt install gzip
        gunzip tests/TinyTest.fasta.gz
        shasta-build/shasta-Ubuntu-16.04/bin/shasta --Align.alignMethod 3 --input tests/TinyTest.fasta
        ls -l ShastaRun/Assembly.fasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-OldLinux
        path: shasta-build/shasta-Ubuntu-16.04/bin/shasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-Ubuntu-16.04.tar
        path: shasta-build/shasta-Ubuntu-16.04.tar


       
  macOS-10-14:
    runs-on: macOS-10.14
    steps:
    - uses: actions/checkout@master
    - name: Install-prerequisites
      run: scripts/InstallPrerequisites-macOS.sh
    - name: Build-macOS-10.14
      run: |
        mkdir shasta-build
        cd shasta-build 
        cmake .. -DBUILD_ID="Shasta unreleased test build for MacOS-10.14 newer than release 0.4.0 at commit "$GITHUB_SHA
        # cmake .. -DBUILD_ID="Shasta Release 0.4.0 for MacOS-10.14"
        make VERBOSE=1 -j 2 all
        make install/strip
        # See what libraries the executable depends on.
        otool -L shasta-install/bin/shasta
    - name: Test-macOS-10.14
      run: |
        brew install gzip
        gunzip tests/TinyTest.fasta.gz
        shasta-build/shasta-install/bin/shasta --Align.alignMethod 3 --input tests/TinyTest.fasta
        ls -l ShastaRun/Assembly.fasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-macOS-10.14
        path: shasta-build/shasta-install/bin/shasta


       
  macOS-10-15:
    runs-on: macOS-10.15
    steps:
    - uses: actions/checkout@master
    - name: Install-prerequisites
      run: scripts/InstallPrerequisites-macOS.sh
    - name: Build-macOS-10.15
      run: |
        mkdir shasta-build
        cd shasta-build 
        cmake .. -DBUILD_ID="Shasta unreleased test build for MacOS-10.15 newer than release 0.4.0 at commit "$GITHUB_SHA
        # cmake .. -DBUILD_ID="Shasta Release 0.4.0 for MacOS-10.15"
        make VERBOSE=1 -j 2 all
        make install/strip
        # See what libraries the executable depends on.
        otool -L shasta-install/bin/shasta
    - name: Test-macOS-10.15
      run: |
        brew install gzip
        gunzip tests/TinyTest.fasta.gz
        shasta-build/shasta-install/bin/shasta --Align.alignMethod 3 --input tests/TinyTest.fasta
        ls -l ShastaRun/Assembly.fasta
    - uses: actions/upload-artifact@master
      with:
        name: shasta-macOS-10.15
        path: shasta-build/shasta-install/bin/shasta


